body {
    display: flex;
    justify-content: center;
    align-items: start;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
	justify-content: center;
        width: 100%;
    }

    app-logo {
	--logo-size: 1rem;
    }
}
